body {
    background-color: white;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

#carte{
    width: 96%;
    margin:0 auto;
    display: block;
    border: 1px solid black;
}